.topbar{
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right:0px;
    width: 100%;
    height: 40px;
    font-family:  "Arial";
    /*text-shadow: 1px 1px 1px black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);*/
}

.topbar h2{
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
    color: crimson;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.topbar p{
    color: white;
    font-size: 12px;
    float: left;
    padding: 0px 10px;
    margin: 10px 0px;
}

.topbar img{
    border:none;
}

.topbar li ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 12px;
}

.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.topbar .whiteborder{
    border: 1px solid white;
}

.topbar .img_left{
    float: left;
    margin-right: 10px;
    width: 40px;
}

.topbar .black_box{
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}







*/



http://jsfiddle.net/rohanbhangui/acpfzkty/#run



#nav {
    background: black;
    position: fixed;
    top: 0;﻿
    margin: 0;
}
#nav ul{
    list-style-type: none;
}

#nav li{
    display: inline-block;
    margin-left: 10px;
    position: center;
}

#nav a{
    text-decoration: none;
}

body{
    background-color: #eeeeee;
}