* {
    padding: 0;
    margin: 0;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    background-color: #e3e3e3;
    height: 100%;
    width: 100%;
}

.links{
    position: relative;
}

nav {
    width: 100%;
    height: 80px;
    background: gray;
    position: absolute;
}

a, a:visited {
    text-decoration: none;
}

nav ul {
    position: relative;
    list-style: none;
    float:right;
    right: 200px;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 0px; 
    padding: 0;
    list-style-type: ;
}

nav ul ul li{
    position: relative;
    top: inherit;
    float: none; 
    display: block;
    max-height: relative;
    padding-right: 100px;
    border-bottom: 0.5px solid;
    border-bottom-color: black;
    background: gray;
}

nav ul ul :last-child{
        border-bottom: none;
        border-bottom-color: none;

}

nav ul li {
    display: inline-block;
}



.navbutton{
    color: #a3a3a3;
    height : 80px;
    background: inherit;
    padding-left: 0px;
    padding-right: 0px;
    
    /*Border*/
    border-style:solid;
    /*border-color: black;*/
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;

    /*Alignment*/
    /*float-left: 100%;
    float-right: 100%;*/
}

.navbutton:hover{
    color: #ffffff;
}

